.meet-wrapper {
  padding: 0px 5%;
}

.meet-box {
  display: flex;
  flex-direction: column;
  padding: 36px 36px 20px 36px;
  color: white;
  background-color: var(--red-highlight);
  border-radius: 36px;
}

.meet-title {
  font-size: 44px;
  line-height: 44px;
  font-weight: 800;
  margin-bottom: 24px;
  width: 80%;
  letter-spacing: -0.5px;
}
