.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding: 40px 5% 100px 5%;
  margin-top: 50px;
  font-size: 1rem;
  color: var(--light-background);
  text-align: left;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.footer-description {
  display: flex;
  flex-direction: row;
  width: 60%;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  /* width: 33.33%; */
}

/* .footer-wrapper > .footer-column:nth-child(1) {
   width: 40%; 
} */

.footer-column-title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1.125rem;
}

.footer-text {
  line-height: 24px;
}

.logo-binamics {
  height: 2rem;
  object-fit: contain;
  width: fit-content;
  margin-left: -6px;
}



.footer-secondary {
  width: 40%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-go-top {
  position: absolute;
  bottom: 100px;
  width: 4rem;
  right: 2rem;
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-wrapper > .footer-column:nth-child(1) {
    width: 100%;
    /* text-align: center; */
    /* align-items: center; */
  }

  .footer-secondary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .footer-secondary > .footer-column {
    text-align: left;
  }

  .footer-background {
    background: url("/public/assets/imagenes/fondo_puntos-01.png"),
      linear-gradient(#fff 0%, #fff 15%, #000 15%, #000 100%) !important;
    background-repeat: no-repeat !important;
    background-position: 0% 30% !important;
    background-size: cover !important;
  }
}
