.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--dark-background);
  min-height: 100vh;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.footer-background {
  background: url("/public/assets/imagenes/fondo_puntos-01.png"),
    linear-gradient(#fff 0%, #fff 25%, #000 25%, #000 100%);
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-size: cover;
  /* margin-top: auto; */
  width: 100%;
}

.experiencias-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  width: 100%;
  margin-top: auto;
  padding-bottom: 100px;
}

.experiencias-title {
  font-weight: 800;
  font-size: 44px;
  width: clamp(200px, 750px, 100%);
}

/* .experiencias-title > p {
  color: var(--red-highlight);
} */