.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--light-background);
  min-height: 100svh;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linea-blanca {
  height: 1px;
  width: 25px;
  background-color: black;
}

.linea-negra {
  height: 1px;
  width: 25px;
  background-color: var(--dark-background);
}

.datos-upper-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: black;
}

.section-subtitle {
  font-family: "Space Grotesk", sans-serif;
  margin: 2.5rem 0px;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.footer-background {
  background: url("/public/assets/imagenes/fondo_puntos-01.png"),
    linear-gradient(#fff 0%, #fff 25%, #000 25%, #000 100%);
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-size: cover;
  width: 100%;
}

.top-section-background {
  background: url("/public/assets/imagenes/fondo_puntos-01.png"),
    linear-gradient(#fff 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.dark-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 100%;
  padding: 2rem 5%;
  justify-content: space-between;
}

.section-title {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4rem;
  width: 100%;
  letter-spacing: -0.5px;
  /* color: white; */
}

.experiencias-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5%;
  color: #000;
  width: 100%;
  margin-top: auto;
  padding-bottom: 100px;
  position: relative;
}

.experiencias-title {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 2.75rem;
  letter-spacing: -0.5px;
  width: 100%;
}

.experiencias-cards-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 5%;
  width: 100%;
  margin-top: 50px;
  z-index: 2;
}

.experiencias-card-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  width: calc(100%);
  position: relative;
  z-index: 2;
}

.experiencias-card-wrapper > img {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  aspect-ratio: 8/4;
  /* filter: brightness(0.9) contrast(0.8); */
  filter: saturate(0.8);
}

.experiencias-card-content {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2.25rem;
  width: 100%;
  aspect-ratio: 3.5/1;
  position: relative;
  overflow: hidden;
  gap: 16px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}

.experiencias-card-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.experiencias-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.experiencias-card-button {
  background-color: white;
  color: var(--red-highlight);
  border-radius: 50%;
  border: 1px solid var(--red-highlight);
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  display: grid;
  place-items: center;
}

.experiencias-card-button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--red-highlight);

  transition: 500ms all;
}

.experiencias-card-date {
  font-size: 16px;
  color: #252525;
  margin-top: auto;
  font-family: "Space Grotesk", sans-serif;
}

.experiencias-card-subscribe {
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  width: calc(100%);
  background: url("/public/assets/imagenes/fondo_puntos-01.png"),
    linear-gradient(#000 0%, #000 100%);
  background-repeat: no-repeat;
  background-position: 0% -30%;
  background-size: cover;
  width: 100%;
  padding: 30px;
}

.experiencias-card-subscribe > p:nth-child(1) {
  color: white;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  font-weight: 800;
  margin-top: 50px;
  width: 100%;
}

.experiencias-card-subscribe > p:nth-child(2) {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: 10%;
}

.span-subscripcion {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 5px;
  margin-bottom: 60px;
  margin-top: auto;
}

.span-subscripcion > p {
  color: white;
  font-weight: 300;
  margin-left: 1.5rem;
  font-size: 1rem;
  line-height: 1rem;
}

.span-subscripcion > button {
  font-size: 1rem;
  line-height: 1rem;
  /* border: 1px solid white; */
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  margin-left: auto;
}

.span-subscripcion > button:hover {
  border: 1px solid white;
}

.boton-generico {
  padding: 1rem 1.5rem;
  border-radius: 36px;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  gap: 16px;
  max-height: 50px;
  border: none;
  width: fit-content;
}

.boton-blanco {
  background-color: white !important;
  color: var(--dark-background) !important;
  border: 1px solid var(--dark-background);
}

.boton-blanco:hover {
  background-color: var(--dark-background) !important;
  color: white !important;
  transition: 500ms all;
}

.boton-negro {
  background-color: var(--dark-background);
  color: white;
  border: 1px solid var(--dark-background);
}

.boton-negro:hover {
  color: var(--dark-background);
  background-color: white;
  transition: 500ms all;
}

.boton-rojo {
  color: var(--light-background);
  background-color: var(--red-highlight);
  border-radius: 24px;
  gap: 16px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  border: 1px solid var(--red-highlight);
}

.boton-rojo:hover {
  color: var(--red-highlight);
  background-color: white;
  transition: 500ms all;
}

.meet-box > button {
  border: 1px solid white;
}

.img-tableros {
  width: calc(45%);
  object-fit: cover;
}

.clientes-section {
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
  color: black;
}

.clientes-logos img {
  height: calc(100vw / 22);
}

.light-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark-background);
  width: 100%;
  padding: 2rem 5%;
  justify-content: space-between;
}

.underscore {
  position: relative;
}

.underscore img {
  width: 100%;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 0px;
}


.boton-azul:hover {
  color: var(--blue-highlight) !important;
  background-color: white !important;
  transition: 500ms all;
}

.bi-menu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: white;
  padding: 0px 5% 12rem 5%;
  width: 100%;
}

.bi-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 900px, 100%);
  border-bottom: 1px solid #d8d8d8;
  padding: 2rem 0px;
}

.desplegables {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 16px;
  font-size: 1.125rem;
  width: 100%;
  animation: fade-in-desplegable 400ms forwards linear;
  max-height: 0;
}

@keyframes fade-in-desplegable {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}

.desplegable-down {
  cursor: pointer;
  margin-left: auto;
  animation: rotation-down 200ms forwards linear;
}

@keyframes rotation-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.desplegable-right {
  cursor: pointer;
  margin-left: auto;
  animation: rotation-right 200ms forwards linear;
}

@keyframes rotation-right {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.imagen-equipo {
  width: 50%;
  transform: translate(-2.5rem, 2.5rem);
  object-fit: cover;
  z-index: 1;
}

.imagen-corazon {
  height: 105%;
  position: absolute;
  left: 49%;
  z-index: 0;
  bottom: 2rem;
  transform: translateX(-50%);
}

.imagen-estrella {
  position: absolute;
  top: -1.5rem;
  left: 5rem;
  height: 5rem;
}

.imagen-simbolo {
  position: absolute;
  top: -0.5rem;
  left: 35%;
  height: 2.5rem;
}

.descripcion-equipo-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
  align-items: center;
  height: 100%;
  align-self: center;
}

.descripcion-equipo-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 5rem;
  /* width: 100%; */
  padding: 2rem;
}

.descripcion-equipo-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  gap: 0px;
  /* padding: 0.5rem 1rem; */
  font-size: 1.5rem;
}

.descripcion-equipo-item svg {
  color: var(--red-highlight);
}

.equipo-item-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.equipo-item-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

#leer-mas-experiencias {
  margin-top: 50px;
  margin-bottom: 100px;
  z-index: 3;
}

.boton-azul {
  color: var(--light-background);
  background-color: var(--blue-highlight);
  border: 1px solid var(--blue-highlight);
  border-radius: 24px;
  gap: 16px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

.color-card-subtitle {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.logos {
  overflow: hidden;
  padding: 8px 0px;
  margin: 2rem 0px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  white-space: nowrap;
  position: relative;
  background-color: black;
}

.clientes-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-inline: auto;
}

.bi-image {
  position: absolute;
  bottom: 2rem;
  right: 0px;
  width: 25%;
}
.parlante-images-wrapper {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  height: 105%;
  width: 100%;
  align-items: flex-end;
  z-index: 1;
}

.parlante-image {
  /* position: absolute; */
  /* top: calc(5%);
  right: calc(5% + 2rem); */
  height: 33%;
}

.linea-microfono-image {
  /* position: absolute; */
  /* top: calc(5%); */
  /* right: calc(35% + 2rem); */
  height: 33%;
  margin-right: 33%;
}

.avatar-parlante-image {
  /* position: absolute; */
  height: 33%;
  z-index: 2;
}

.image-brocoly-whatsapp {
  position: absolute;
  right: -1rem;
  bottom: -2.5vw;
  width: 32%;
}

.business-cards-layout {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.business-card {
  padding: 1.5rem;
  background-color: white;
  color: var(--dark-background);
  border-radius: 8px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
}

.business-card > p:nth-child(1) {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.business-card > p:nth-child(2) {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

.brocoly-info {
  padding: 1.5rem;
  background-color: var(--dark-blue-background);
  border-radius: 8px;
  width: 48%;
  font-family: "Space Grotesk", sans-serif;
}

.boton-oscuro {
  background-color: var(--dark-blue-background);
  color: white;
  border: 1px solid var(--light-background);
}

.boton-oscuro:hover {
  color: var(--dark-blue-background);
  background-color: white;
  transition: 500ms all;
}

.brocoly-subtitle {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.brocoly-description {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 2rem 0px;
}

.iconos-quienes-somos {
  width: 2.25rem;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .section-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .meet-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
  }

  .experiencias-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .color-card-subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .dark-section,
  .light-section {
    flex-direction: column;
    gap: 4rem;
  }

  .imagen-equipo,
  .img-tableros {
    width: 100%;
    transform: scale(1.1);
  }

  .descripcion-equipo-wrapper {
    width: 100%;
  }

  .experiencias-cards-layout {
    display: flex;
    flex-direction: column;
  }

  .experiencias-card-content {
    aspect-ratio: 0;
  }

  .span-subscripcion {
    margin-top: 2rem;
    margin-bottom: 0px;
  }

  #leer-mas-experiencias {
    margin-bottom: 0px;
  }

  .clientes-logos img {
    height: calc(100vw / 10);
    margin-inline: 8px;
  }

  .underscore img {
    height: 8px;
  }

  .clientes-logos {
    animation: 8s slide infinite linear;
  }

  .logos:after,
  .logos:before {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      var(--dark-background)
    );
  }

  .logos:after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--dark-background)
    );
  }

  .bi-image {
    display: none;
  }

  .business-cards-layout {
    width: 100%;
  }

  .brocoly-info {
    width: 100%;
    margin-bottom: 50px;
  }

  .image-brocoly-whatsapp {
    width: 50%;
    bottom: -3vw;
  }

  .parlante-images-wrapper {
    display: none;
  }

  .imagen-corazon {
    display: none;
  }
}

@media (min-width: 769px) {
  .clientes-logos:nth-child(2) {
    display: none;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
