.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 5%;
  background-color: var(--dark-background);
}

/* .logo-section {
} */

.rutas-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light-background);
  font-size: 1rem;
  line-height: 1rem;
  gap: 24px;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: var(--light-background);
}

.rutas-section > a {
  font-family: "Space Grotesk", sans-serif;
}

.menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .rutas-section {
    display: none;
  }

  .menu-mobile {
    display: block;
    color: white;
    margin-left: auto;
    height: 24px;
  }
}
