@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap");

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::selection {
  background-color: #252525;
  color: white;
}

:root {
  /* COLORES */
  --dark-background: #030305;
  --light-background: #ffffff;
  --blue-highlight-background: #2b3f77;
  --dark-blue-background: #141d24;
  --red-highlight: #e52023;
  --green-highlight: #7db729;
  --yellow-highlight: #e4e026;
  --grey: #585a5c;
  /*  */
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  height: 5px;
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track-horizontal {
  background: transparent;
  height: 5px;
}
::-webkit-scrollbar-thumb-horizontal {
  background: #aaa;
  border-radius: 8px;
}

.pointer {
  cursor: pointer;
}
